<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>3363861302684783</sid>
    <event-sheet>Menu</event-sheet>
    <size>
        <width>720</width>
        <height>480</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="background 01" sid="5126990314544398">
            <initially-visible>1</initially-visible>
            <background-color>204,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="menuBackground01" uid="7">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>0</y>
                        <z>0</z>
                        <width>720</width>
                        <height>480</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Logo" uid="8">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>Yes</active-at-start>
                                <fade-in-time>3</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0</fade-out-time>
                                <destroy>After fade out</destroy>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Size</movement>
                                <wave>Sine</wave>
                                <period>4</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>10</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>224</x>
                        <y>192</y>
                        <z>0</z>
                        <width>416</width>
                        <height>256</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.501718223</hotspotY>
                        <angle>-0.418253362</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="descripcionNivel" uid="1852">
                    <properties>
                        <text>Escape (Esc): Mostrar Menú | X: Interacciones | Espacio: Saltar | Flechas: Moverse</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Calibri Light,-16,300,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>8</x>
                        <y>460</y>
                        <z>0</z>
                        <width>704</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="background 02" sid="6332662881408202">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances />
            <effects />
        </layer>
        <layer name="UI" sid="4454822372433629">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="btnNuevaPartida" uid="0">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>idle</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <instance-variables>
                        <NuevaPartida>1</NuevaPartida>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>544</x>
                        <y>320</y>
                        <z>0</z>
                        <width>153</width>
                        <height>35</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btnCargarPartida" uid="1">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>idle</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <instance-variables>
                        <CargarPartida>2</CargarPartida>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>544</x>
                        <y>359</y>
                        <z>0</z>
                        <width>153</width>
                        <height>35</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btnSalir" uid="2">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>idle</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <instance-variables>
                        <Salir>3</Salir>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>544</x>
                        <y>398</y>
                        <z>0</z>
                        <width>153</width>
                        <height>35</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="fade" uid="5">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <fadeOUT>false</fadeOUT>
                        <tipoBoton>0</tipoBoton>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>No</active-at-start>
                                <fade-in-time>1</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0</fade-out-time>
                                <destroy>After fade out</destroy>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>-64</y>
                        <z>0</z>
                        <width>32</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
